<div class="newsfeed-wrapper">
    <div class="endless-wrapper">
        <div class="post" *ngFor="post in posts">
            <div class="author">
                {{post.author}}
            </div>
            <div class="post-img">
                <img src="{{post.author}}">
            </div>
            <div class="post-interactions">
                <div class="interaction">
                    <select>
                        <option>Teilen via</option>
                        <option>Chat</option>
                        <option>Whatsapp</option>
                        <option>Email</option>
                    </select>
                </div>
                <div class="interaction">
                    <button>Speichern</button>
                </div>
                <div class="interaction">
                    <button>Liken</button>
                </div>
                <div class="interaction">
                    <button>Kommentieren</button>
                </div>
            </div>
        </div>
    </div>
</div>