@import "./../../colors.scss";

.wrapper {
    height: 50px;
    width: 100%;
    background-color: $primary;
}

#centered-button {
    height: 100%;
    width: 30%;
    float: left;
    text-align: center;
}

.navbar-button {
    width: 30%;
    height: 50px;
    float: left;
    text-align: center;
}

button {
    width: fit-content;
    height: 50px;
    background-color: $primary;
    color: white;
    border: none;
    font-size: 18px;
    &:hover {
        color: $secondary;
    }
}